<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ef345b94c2.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="todosCtrl.js"></script>

    <title>TODOs</title>
</head>
<body ng-app="todosApp">
    <div class="container" ng-controller="todosCtrl">
        <h1 class="text-center">TODO</h1>
        <form>
            <div class="row mx-auto search-input">
                <div class="col">
                    <input type="text" class="form-control" id="todoInput" placeholder="What's Next" ng-model="newItem">
                    <button type="button" class="btn btn-outline-primary" ng-click="addItem();">Add Item</button>
                </div>
            </div>

            <div class="row" ng-repeat="item in todoArr">
                <div class="col">
                    <!-- using ng-checked is not good enaough as we want the binding to be for both sides - if ite.done then checked and if cheked then item.don = true-->
                    <input class="" type="checkbox" value="" id="defaultCheck1" ng-model="item.done">
                    <label class="form-check-label done-{{item.done}}" for="defaultCheck1">
                        {{ item.text}}
                    </label>
                </div>
                <div class="col-button">
                    <button type="button" class="btn btn-outline-warning" ng-click="cleanItem(item);">Clear</button>
                </div>
            </div>
        
            <h5 class="total-amt">{{ uncheckedSum() }} items left</h5>
            <div class="btn-group btn-group-sm filter-grp">
                <button type="button" class="btn btn-outline-danger">All</button>
                <button type="button" class="btn btn-outline">Active</button>
                <button type="button" class="btn btn-outline">Completed</button>
            </div>

            <button type="button" class="btn btn-outline-danger" ng-click="cleanDoneItems();">Clean Completed Item</button> 
            <button type="button" class="btn btn-outline-danger" ng-click="removeAll();">Clean All Item</button> 
        </form>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>