.done-true {
    text-decoration: line-through;
    color: gray;
}

.done-false {
    text-decoration: none;
    color: black;
}

.total-amt, .filter-grp, .form-control {
    display: inline-block;
}

.search-input {
    width: 50%;
}

.col-button {
    width: 20%;
}